@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }

body{
    background-color: rgb(255, 255, 255);
    color: aliceblue;
            background-image: url(./Backgrond\ index.png);
            background-size: cover;
            background-repeat: no-repeat;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    position: center;
    text-align: center;
    margin: 0px;
    top: 0px;
    background-color:rgba(255, 255, 255, 0.377);
    color: rgb(255, 200, 47);
    padding: 50px;
    border-radius: 135px;
    border-radius: 135px;
    font-size: 130px;
    padding: 60px;
}

#js{
    font-family: myFirstFont;
    color: black;
}

button{
    color:rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgb(102, 102, 102);
    
    font-size: 33px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.Criar{
    position:absolute;
    top:49%;
    left: 44%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 32px;
    background-color: rgb(25, 25, 25);
    color: rgb(140, 140, 140);
    text-align: center;
  }  